<ul nz-menu nzMode="horizontal">
  <li nz-menu-item nzSelected>
    <i nz-icon nzType="appstore"></i>
    小组成员
  </li>
  <li nz-menu-item nzSelected>
    <i nz-icon nzType="appstore"></i>
    讨论
  </li>
  <li nz-menu-item nzSelected>
    <i nz-icon nzType="appstore"></i>
    任务
  </li>
  <li nz-menu-item nzSelected>
    <i nz-icon nzType="appstore"></i>
    资料
  </li>


  <li nz-menu-item>
    <a href="https://ng.ant.design" target="_blank" rel="noopener noreferrer">Navigation Four - Link</a>
  </li>
</ul>
