<br>
<form nz-form [formGroup]="validateForm" (ngSubmit)="addUser()">
  <nz-form-item >
    <nz-form-label [nzSpan]="3" nzRequired>用户名</nz-form-label>
    <nz-form-control [nzSpan]="3">
      <input formControlName="userName" [(ngModel)]="user.userName" nz-input placeholder="用户名"  >
    </nz-form-control>
  </nz-form-item >
  <nz-form-item>
    <nz-form-label [nzSpan]="3" nzRequired>密码</nz-form-label>
    <nz-form-control [nzSpan]="3">
      <input formControlName="password" [(ngModel)]="user.password" nz-input placeholder="密码">
    </nz-form-control>
  </nz-form-item >
  <nz-form-item>
    <nz-form-label [nzSpan]="3" nzRequired>ID</nz-form-label>
    <nz-form-control [nzSpan]="3">
      <input formControlName="userId" [(ngModel)]="user.userId" nz-input placeholder="用户ID">
    </nz-form-control>
  </nz-form-item >
  <nz-radio-group [(ngModel)]="radioValue">
    <label nz-radio nzValue="teacher">老师</label>
    <label nz-radio nzValue="student">学生</label>
  </nz-radio-group>

  <nz-form-item>
    <nz-form-control>
      <button nz-button nzType="primary" >添加用户</button>
    </nz-form-control>
  </nz-form-item>
</form>
<br>

<nz-input-group style="width:300px;" nzSearch nzSize="large" nzPrefixIcon="search">
  <input [(ngModel)]="userName" type="text" nz-input placeholder="input search text"/>
<!--  <nz-input-group nzPrefixIcon="search">-->
    <button nz-button nzType="primary" nzSize="small" nzSearch (click)="searchUser()" >Search</button>
<!--  </nz-input-group>-->
</nz-input-group>
<br>
<nz-table #basicTable [nzData]="data">
  <thead>
  <tr>
    <th>用户名</th>
    <th>用户ID</th>
    <th>删除用户</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngIf="data">
    <td>{{data.username}}</td>
    <td>{{data.id}}</td>
    <td><button nz-button (click)="deleteUser(data.id)">删除</button></td>
  </tr>
  </tbody>
</nz-table>
