<nz-layout class="layout">
  <nz-sider>
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        <i nz-icon nzType="team"></i>
        <span>个人信息</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="appstore-o"></i>
        <span>我的课程</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="appstore-o"></i>
        <span>加入课程</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="bar-chart"></i>
        <span>评分</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="cloud-o"></i>
        <span>查看评分</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="right-layout">
    <nz-header></nz-header>
    <nz-content>
      <div class="inner-content">
        content
      </div>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
