<br />
<nz-input-group [nzSize]="'large'">
  <div nz-row [nzGutter]="8">
    <div>
      <p>课程名陈：</p>
    </div>
    <div>
      <input type="text" nz-input [ngModel]="" />
    </div>
  </div>
  <div nz-row [nzGutter]="8">
    <div>
      <p>任课教师：</p>
    </div>
    <div>
      <input type="text" nz-input [ngModel]="" />
    </div>
  </div>
  <div nz-row [nzGutter]="8">
    <div>
      <p>课程说明：</p>
    </div>
    <div>
      <input type="text" nz-input [ngModel]="" />
    </div>
  </div>
</nz-input-group>
<br />
