<h1>project</h1>
<nz-tabset>
  <nz-tab nzTitle="小组">
    <h2>小组</h2>
    <div *ngIf="myGroup==null&&constants.state.role==constants.ROLES.STUDENT">
      <input [(ngModel)]="groupName" nz-input placeholder="小组名称"/>
      <a (click)="createGroup()">创建小组</a>
    </div>
    <nz-table #basicTable [nzData]="groups">
      <thead>
      <tr>
        <th>编号</th>
        <th>名称</th>
        <th>组长</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.groupId}}</td>
        <td>{{data.groupName}}</td>
        <td>{{data.groupHeaderId}}</td>
        <td>
          <a *ngIf="constants.state.role==constants.ROLES.STUDENT"
             routerLink="/groupInfo/{{courseId}}/{{projectId}}/{{data.groupId}}">查看</a>
          <a *ngIf="constants.state.role==constants.ROLES.STUDENT
      &&myGroup!=null&&myGroup.groupId==data.groupId" (click)="quitGroup(data.groupId)">退出</a>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab nzTitle="任务">
    <h2>任务</h2>
    <a *ngIf="constants.state.role==constants.ROLES.TEACHER" (click)="showAddTaskModel()">创建任务</a>
    <nz-table #taskstable [nzData]="tasks">
      <thead>
      <tr>
        <th>编号</th>
        <th>名称</th>
        <th>描述</th>
        <th>开始时间</th>
        <th>结束时间</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of taskstable.data">
        <td>{{data.taskId}}</td>
        <td>{{data.taskName}}</td>
        <td>{{data.taskDiscribe}}</td>
        <td>{{data.taskStartTime}}</td>
        <td>{{data.taskEndTime}}</td>
        <td>
          <a *ngIf="constants.state.role==constants.ROLES.TEACHER"
             (click)="removeTask(data.taskId)">删除</a>
        </td>
        <!--    <td>-->
        <!--      <a routerLink="/groupInfo/{{courseId}}/{{projectId}}/{{data.groupId}}">查看</a>-->
        <!--      <a *ngIf="constants.state.role==constants.ROLES.STUDENT-->
        <!--      &&myGroup!=null&&myGroup.groupId==data.groupId" (click)="quitGroup(data.groupId)" )>退出</a>-->
        <!--    </td>-->
      </tr>
      </tbody>
    </nz-table>
    <nz-modal [(nzVisible)]="addTaskModel.isVisible" nzTitle="添加任务" (nzOnCancel)="hiddeAddTaskModel()"
    >
      <form nz-form [formGroup]="validateAddTaskForm" (ngSubmit)="addTask()">


        <nz-form-item>
          <nz-form-label nzRequired>名称</nz-form-label>
          <nz-form-control>
            <input formControlName="taskName" [(ngModel)]="addTaskModel.task.taskName" nz-input placeholder="项目名称"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzRequired> 起止时间</nz-form-label>
          <nz-form-control>
            <nz-range-picker nzShowTime formControlName="rangePickerTime"></nz-range-picker>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzRequired>描述</nz-form-label>
          <nz-form-control>
            <input formControlName="taskDiscribe" [(ngModel)]="addTaskModel.task.taskDiscribe" nz-input
                   placeholder="项目描述"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <button nz-button nzType="primary">Submit</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-modal>
  </nz-tab>
  <nz-tab nzTitle="讨论板">

    <h2>讨论板</h2>
    <ng-template #commentTemplateRef let-comment="comment">
      <nz-comment [nzAuthor]="comment.userName">
        <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="comment.avatar"></nz-avatar>
        <nz-comment-content>
          <p>{{ comment.discMessage }}</p>
        </nz-comment-content>
        <!--    <nz-comment-action>Reply to</nz-comment-action>-->
        <ng-container *ngIf="comment.children && comment.children.length">
          <ng-template ngFor let-child [ngForOf]="comment.children">
            <ng-template [ngTemplateOutlet]="commentTemplateRef"
                         [ngTemplateOutletContext]="{ comment: child }"></ng-template>
          </ng-template>
        </ng-container>
      </nz-comment>
    </ng-template>
    <div *ngFor="let commentData of this.commentDatas let i=index">

      <ng-template [ngTemplateOutlet]="commentTemplateRef"
                   [ngTemplateOutletContext]="{ comment: commentData }"></ng-template>
      `
      <nz-comment style="padding-left: 100px">
        <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="constants.state.profilePhoto"></nz-avatar>
        <nz-comment-content>
          <nz-form-item>
            <textarea [(ngModel)]="commentInput" nz-input rows="4"></textarea>
          </nz-form-item>
          <nz-form-item>
            <button nz-button nzType="default" [disabled]="!commentInput" (click)="clearInput()">
              clear
            </button>
            <button nz-button nzType="primary" [disabled]="!commentInput" (click)="addReply(commentData.discId)">
              Add Comment
            </button>
          </nz-form-item>
        </nz-comment-content>
      </nz-comment>
    </div>
    <nz-comment>
      <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="constants.state.profilePhoto"></nz-avatar>
      <nz-comment-content>
        <nz-form-item>
          <textarea [(ngModel)]="commentInput" nz-input rows="4"></textarea>
        </nz-form-item>
        <nz-form-item>
          <button nz-button nzType="default" [disabled]="!commentInput" (click)="clearInput()">
            clear
          </button>
          <button nz-button nzType="primary" [disabled]="!commentInput" (click)="addDiscuss()">
            Add Comment
          </button>

        </nz-form-item>
      </nz-comment-content>
    </nz-comment>

  </nz-tab>
  <nz-tab nzTitle="文件">
    <h2>文件</h2>
    <form id="fileForm" enctype="multipart/form-data" nz-form [formGroup]="validateFileForm" (ngSubmit)="upload()">


        <label >选择文件</label>
          <input name ="multipartFile" required="required" formControlName="multipartFile" type="file" [(ngModel)]="fileUpload" nz-input />


      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary">上传</button>
        </nz-form-control>
      </nz-form-item>
    </form>
    <h3>文件列表</h3>
    <nz-table #taskstable [nzData]="tasks">
      <thead>
      <tr>
        <th>编号</th>
        <th>名称</th>
        <th>时间</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let file of files.myFileResources">
        <td>{{file.fileId}}</td>
        <td>{{file.fileName}}</td>
        <td>{{file.uploadTime}}</td>
        <td>
          <a (click)="removeFile(file.fileId)">删除</a>
          <a (click)="download(file.fileId,file.fileName)">下载</a>
        </td>
      </tr>
      <tr *ngFor="let file of files.otherFileResources">
        <td>{{file.fileId}}</td>
        <td>{{file.fileName}}</td>
        <td>{{file.uploadTime}}</td>
        <td>
          <a *ngIf="constants.state.role==constants.ROLES.TEACHER"
             (click)="removeFile(file.fileId)">删除</a>
          <a (click)="download(file.fileId,file.fileName)">下载</a>
        </td>
      </tr>
      </tbody>
    </nz-table>

  </nz-tab>
</nz-tabset>
