<nz-input-group style="width:300px;" nzSearch nzSize="large">
  <input [(ngModel)]="courseName" type="text" nz-input placeholder="input search text"/>
  <nz-input-group nzPrefixIcon="search">
    <button nz-button nzType="primary" nzSize="small" nzSearch (click)="doSearchCourse()" >Search</button>
  </nz-input-group>
</nz-input-group>

<nz-list nzGrid>
  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="6" *ngFor="let item of data">
      <nz-list-item>
        <div style="background: #ECECEC;padding:30px;">
          <nz-card style="width:300px;" [nzBordered]="false" nzTitle="课程">
            <p>课程名称:{{item.courseName}}</p>
            <p>教师id：{{item.teacherId}}</p>
            <p><button nz-button (click)="takeCourse(item.courseId)">加入课程</button></p>
          </nz-card>
        </div>
      </nz-list-item>
    </div>
  </div>
</nz-list>
<!--<ng-template #actionEdit>-->
<!--  <i nz-icon nzType="edit"></i>-->
<!--</ng-template>-->
<!--<ng-template #actionEllipsis>-->
<!--  <i nz-icon nzType="ellipsis"></i>-->
<!--</ng-template>-->
